<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type='text/css' media='all' href="styles.css">
    <title>Pipeweed</title>
</head>
<body>
<div>
    <div>
	<h1>Old Toby</h1>
        <p>"Finest weed in the Southfarthing."</p>
        <p><i>- Bilbo Baggins</i></p>
    </div>
    <div>
        <hr>
        <img src="assets/pippin-smoking.gif" alt="Pippin smoking">
    </div>
</div>

</body>
</html>